@model List<TechTestToDoList.Dal.ViewModels.TaskViewModel>
@{ 
    Layout = null;
}
<div class="col-lg-12">
    <div class="col-lg-12 list-group" id="storeTask">
        @foreach (var item in Model)
        {
            
            <button type="button" id="@item.Id" class="list-group-item list-group-item-action @(item.Checked ? "checked" : "")">
                <input type="checkbox" class="pull-left checkTask " data-id="@item.Id" @(item.Checked ? "checked" : "") />
                <span class="pull-left task " data-id="@item.Id" data-name="@item.Title" style="margin-left:10px;">@item.Title</span>
                <span class="pull-right times removeTask"  data-id="@item.Id"  style="margin-left:10px;"> &times;</span><span class="badge badge-primary pull-right">Last Update @item.LastUpdate</span>
                
            </button>
        }
    </div>
    <div class="col-lg-12">
        <a href="#" class="action" id="addTask">
            <span class="glyphicon glyphicon-plus-sign" style="margin-right:10px;"></span><label>Add Task</label>
        </a>
    </div>
    <div id="newTask" hidden class="col-lg-12">
        <input class="form-control" name="Title" id="newTaskTitle" placeholder="Type a Title for your task" />
        <div class="col-lg-12" style="margin-top:10px;">
            <button class="btn btn-primary" id="AddnewTask">Add New Task</button>
            <button class="btn btn-default" id="CancelnewTask">Cancel</button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

